#originaddr {
  width: 650px;
  margin: 50px auto;
}
#originaddr .wrap .deladdr {
  display: inline-block;
  margin-left: 40px;
  padding: 3px 10px;
  background-color: #000;
  color: #fff;
  opacity: 0.6;
  transition: opacity .5s linear;
  border-radius: 5px;
}
#originaddr .wrap .deladdr:hover {
  cursor: pointer;
  opacity: 1;
}
#originaddr input[type=radio] {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}
#originaddr input[type=radio]:hover {
  cursor: pointer;
}
#wrap-box {
  width: 650px;
  margin: 50px auto;
  position: relative;
}
#wrap-box input[type=text] {
  width: 400px;
  height: 30px;
  padding-left: 3px;
  display: inline-block;
  margin-left: 20px;
}
#wrap-box button {
  width: 60px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
}
#wrap-box #address {
  min-height: 60px;
  text-align: center;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 30px;
}
#wrap-box .cer-btn {
  width: 130px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
}
