body {
  color: #666;
  font-family: Arial, "宋体";
  font-size: 14px;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #F00;
  text-decoration: none;
}
.prolist {
  width: 100%;
  padding-top: 20px;
}
.prolist .prolist_box {
  clear: left;
  margin-bottom: 20px;
  height: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.prolist .prolist_box .prolist_box_l {
  text-align: center;
  float: left;
  width: 50px;
  height: 30px;
  color: #F00;
}
.prolist .prolist_box .prolist_box_r {
  float: left;
  margin-left: 20px;
  width: 1000px;
  height: 30px;
}
.prolist .prolist_box .prolist_box_r ul li {
  float: left;
  padding: 2px 20px;
}
.content_lef {
  float: left;
  width: 80%;
  min-height: 1300px;
  padding: 10px;
}
.content_lef .cont_lef .showpro {
  float: left;
  width: 200px;
  height: 380px;
  margin: 0 7px;
  margin-bottom: 10px;
  padding: 10px;
}
.content_lef .cont_lef .showpro .img_top {
  width: 180px;
  height: 250px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  overflow: hidden;
}
.content_lef .cont_lef .showpro .title {
  width: 180px;
  height: 40px;
  overflow: hidden;
  font-size: 12px;
  color: #888;
}
.content_lef .cont_lef .showpro .price {
  width: 180px;
  height: 25px;
  color: #F00;
  font-size: 16px;
}
.content_lef .cont_lef .showpro .comment {
  font-size: 10px;
  color: #888;
  heigth: 20px;
}
.content_lef .cont_lef .showpro .buy {
  margin-top: 10px;
}
.content_lef .cont_lef .showpro:hover {
  box-shadow: 0 0 3px rgba(23, 45, 123, 0.6);
}
.content_rig {
  float: left;
  width: 20%;
  min-height: 1300px;
}
.content_rig .rig_item {
  width: 100%;
  height: 217px;
  box-shadow: 0 0 3px #000;
}
footer {
  clear: both;
  padding-top: 20px;
  margin-top: 80px;
  width: 100%;
  height: 80px;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 10px;
}
footer a {
  padding: 10px;
  color: #F00;
}
footer a:hover {
  text-decoration: none;
}
